<mat-sidenav-container class="sidenav" autosize>
    <mat-sidenav mode="side" opened>
        <mat-selection-list [multiple]="false">
            <mat-list-option data-test="basic-config" selected (click)="changeComponent('base-config')">
                <div class="option">
                    <mat-icon>home</mat-icon>
                    <span>Basic Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="checkboxes" (click)="changeComponent('checkboxes')">
                <div class="option">
                    <mat-icon>checklist</mat-icon>
                    <span>Checkboxes Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="command-bar" (click)="changeComponent('command-bar')">
                <div class="option">
                    <mat-icon>table_chart</mat-icon>
                    <span>Command Bar Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="command-bar-actions"
                             (click)="changeComponent('command-bar-actions')">
                <div class="option">
                    <mat-icon>task_alt</mat-icon>
                    <span>Actions Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="command-bar-date-filter"
                             (click)="changeComponent('command-bar-date-filter')">
                <div class="option">
                    <mat-icon>today</mat-icon>
                    <span>Date Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="command-bar-enum"
                             (click)="changeComponent('command-bar-enum-filter')">
                <div class="option">
                    <mat-icon>list_alt</mat-icon>
                    <span>Enum Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="command-bar-search"
                             (click)="changeComponent('command-bar-search')">
                <div class="option">
                    <mat-icon>manage_search</mat-icon>
                    <span>Search Config</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="complex-prop-selected"
                             (click)="changeComponent('complex-prop-selected')">
                <div class="option">
                    <mat-icon>bento</mat-icon>
                    <span>Complex Prop Selected</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="custom-column" (click)="changeComponent('custom-column')">
                <div class="option">
                    <mat-icon>dashboard_customize</mat-icon>
                    <span>Custom column</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="default-sorting" (click)="changeComponent('default-sorting')">
                <div class="option">
                    <mat-icon>sort</mat-icon>
                    <span>Default Sorting</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="excluded-property" (click)="changeComponent('excluded-property')">
                <div class="option">
                    <mat-icon>running_with_errors</mat-icon>
                    <span>Excluded Property</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="row-action-button" (click)="changeComponent('row-action-button')">
                <div class="option">
                    <mat-icon>toc</mat-icon>
                    <span>Row action buttons</span>
                </div>
            </mat-list-option>
            <mat-list-option data-test="version-support" (click)="changeComponent('version-support')">
                <div class="option">
                    Version support
                </div>
            </mat-list-option>

        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <rbs-ui-base-config
                *ngIf="currentComponent === 'base-config'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-base-config>

        <rbs-ui-checkboxes
                *ngIf="currentComponent === 'checkboxes'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-checkboxes>

        <rbs-ui-command-bar-actions
                *ngIf="currentComponent === 'command-bar-actions'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-command-bar-actions>

        <rbs-ui-command-bar
                *ngIf="currentComponent === 'command-bar'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-command-bar>

        <rbs-ui-command-bar-date-filter
                *ngIf="currentComponent === 'command-bar-date-filter'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-command-bar-date-filter>

        <rbs-ui-command-bar-enum-filter
                *ngIf="currentComponent === 'command-bar-enum-filter'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-command-bar-enum-filter>

        <rbs-ui-command-bar-search
                *ngIf="currentComponent === 'command-bar-search'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-command-bar-search>

        <rbs-ui-complex-prop-selected
                *ngIf="currentComponent === 'complex-prop-selected'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-complex-prop-selected>

        <rbs-ui-custom-column
                *ngIf="currentComponent === 'custom-column'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-custom-column>

        <rbs-ui-default-sorting
                *ngIf="currentComponent === 'default-sorting'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-default-sorting>

        <rbs-ui-excluded-property
                *ngIf="currentComponent === 'excluded-property'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-excluded-property>

        <rbs-ui-row-action-button
                *ngIf="currentComponent === 'row-action-button'"
                [data]="basicMovementTableData"
                (copyToClipboardEvent)="copyToClipboard($event)"
                (rowClickEvent)="rowClick($event)"
        ></rbs-ui-row-action-button>

        <rbs-ui-version-support-v210
          *ngIf="currentComponent === 'version-support'"
          [data]="versionSupportData"
          (copyToClipboardEvent)="copyToClipboard($event)"
          (rowClickEvent)="rowClick($event)"
        ></rbs-ui-version-support-v210>
    </mat-sidenav-content>
</mat-sidenav-container>
