<footer>
    Love our demo?&nbsp;
    <a href="https://github.com/eclipse-esmf/esmf-sdk-js-schematics-demo" target="_blank" rel="noopener">
        <span>Give our repo a</span>
        <mat-icon class="star">star</mat-icon>
    </a>
    <a href="https://github.com/eclipse-esmf/esmf-sdk-js-schematics-demo" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#3f51b5"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
</footer>
