name: Build pages

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  build:
    name: Build project to host result on github pages
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Cache node modules
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Setup NodeJs
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          working-directory: angular18-demo-app

      - name: Install node modules (Dev)
        run: npm install
        working-directory: angular18-demo-app

      - name: Build demo application
        run: npm run build:prod -- --deploy-url ./esmf-sdk-js-schematics-demo/
        working-directory: angular18-demo-app

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          branch: gh-pages
          folder: angular18-demo-app/dist/angular18-demo-app/browser
